.Container_form {
    background-color: #f8f8f8;
    max-width: 400px;
    margin: 150px auto;
    border: 1px solid rgb(240, 240, 240);
    padding: 30px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    border-radius: 3px;
}

.Container_form h2 {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}

.Signin_btn {
    display: flex;
    align-self: center;
    margin: 20px auto 10px;
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}


.Signin_btn:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

.Signin_btn:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}

