
.QuestionForm {
    border: 1px solid rgb(240, 240, 240);
    padding: 20px;
    border-radius: 3px;
    background: #f8f8f8;
}

.QuestionForm label {
    display: block;
    width: 100%;
    line-height: 2rem;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    border-bottom: 2px solid white; 
}

.QuestionForm input {
    border: 1px solid #cccccc;
}

.New_question_submit_btn{
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 0 0 3px 3px;
    text-transform: capitalize;
}

.New_question_submit_btn:hover, 
.New_question_submit_btn:focus {
    background: #f8f8f8;
    transition: ease-in-out 0.5s;
    color: #aaa;
}

/* Styles for tag component */
div.ReactTags__tags {
    position: relative;
    margin: 10px 0;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 20%;
    border-radius: 8px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 25px;
    /* margin: 0 5px; */
    font-size: 0.8rem;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 0.8rem;
    display: inline-block;
    padding: 3px 3px 4px;
    margin-right: 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    background: white;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 150px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 5px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: white;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}