nav {
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-bottom: 20px;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    height: 60px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.Search_text {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
 
}