
.Form_control,
.Textarea {
  border: 1px solid rgb(240, 240, 240);
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

label {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
}

/* .Form_group {
  padding: 5px 0;
} */
.Form_control::placeholder,
.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  resize: vertical;
}

button {
  order: 1px solid #aaa;
  background-color: #eee;
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Search_text {
  padding:4px 15px 4px 30px;
  /* margin:3px;  */
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
  background-color: white;
  background-image: url('../../images/icons8-search-60.png');
  background-position: 5px 2px; 
  background-repeat: no-repeat;
  background-size: 20px;
  width: 400px;
}

.Search_text:focus, 
.Search_text:hover {
   cursor: pointer;
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   border-radius: 15px;
   outline: none;
}

